.title {
    font-family: bold;
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    word-spacing: 2px;
    letter-spacing: 1.4px;
 
  }
  
  .content {
    color: black;
    font-weight: bold;
    margin: 5px 0;
    margin-bottom: 10px
  }