@font-face {
  font-family: "Regular";
  src: url("./assets/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("./assets/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("./assets/Rubik-Bold.ttf");
}

.contenedor-principal {
  position: relative; 
  height: 100vh;
}

.leaflet-container {
  position: absolute;
  width: 100vw;
  height: 70vh;
  margin-top: 40px;
  bottom: 0;
}

body {
  margin: 0;
  background-image: url("../images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
  @media (min-width: 1424px) {
    body {
      background-image: url("../images/pattern-bg-desktop.png");
    }
    .leaflet-container {
      height: 78vh;
    }
  }
  
.IpTittle {
  font-family: Bold;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: fit-content;
  margin-top: 20px;
  font-size: 24px; 
}
  
.inputContainer {
  position: relative;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: start;
  width: 300px;
  height: 50px;
  top: 70px;
}
  
.IpSearch {
  position: relative;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: start;
  width: 215px;
  height: 50px;
  font-family: regular;
  font-size: 20px;
  padding-left: 15px;
}
.arrowContainer {
  height: 53px;
  width: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  right: 10px;
  margin-top: 82px;
  z-index: 999;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: -82px;
  cursor: pointer;
}

.arrowContainer img {
  width: 20px;
  height: 20px;
  position: absolute;
}

input { 
  border: 0;
  outline: none;
  z-index: 999;
}

input::placeholder{
  font-size: 10px;
}

@media (min-width: 1024px) {
  .inputContainer{
    width: 600px;
  }
  .IpSearch{
    width:  550px;
  }
  input::placeholder{
    font-size: 16px;
  }
}

